/* 1) Base (font rules, box sizing/border box; doesn't necessarily include colors or background colors; may include reset.css file)
 - background color
 - body/main
 - overall font
 - margins for entire body/main */




 @import url('https://fonts.googleapis.com/css?family=Lemonada&display=swap');
 *{
     box-sizing: border-box;
     margin: auto;
     font-family: 'Lemonada', cursive;
   }
 
   div{
     height: 200px;
     width: 200px;
   }