/* 3) modules (biggest css files)
 - id, class, 
 - list items
 - images */



 @import url('https://fonts.googleapis.com/css?family=Lemonada&display=swap');

 h1{
     font-family: 'Lemonada', cursive;
     font-size: 30px;
 }
 
 h2{
     text-align: center;
 }